<form #f="ngForm" (ngSubmit)="addData(f)">
  <input type="text" name="name" placeholder="name" ngModel>
  <br>
  <input type="email" name="email" placeholder="email" ngModel>
  <br>
  <input type="password" name="password" placeholder="password" ngModel>
  <br>
  <button type="submit">Save Data</button>
</form>
<ul>
  <li *ngFor="let data of allUsers">
    {{data.name}} / {{data.email}}
    <button (click)="updateData(data.id)">Edit</button>
    <button (click)="deleteData(data.id)">Delete</button>
  </li>
</ul>